.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.custom-tech-dots {
    position: static !important;
    display: flex !important;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin-top: 48px !important;
    bottom: 0 !important;
    z-index: 2;
}

.slick-list{
    margin: 48px;
}

.slick-track {
    min-height: 260px !important;
    display: flex !important;
    align-items: center !important;
}

.custom-tech-dots li {
    list-style: none;
    display: inline-block;
    margin: 0 4px;
    padding: 0;
}
.custom-tech-dots li {
    width: 48px;
    height: 48px;
    margin: 0 4px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.custom-tech-dots li.slick-active span {
    border-radius: 50%;
    box-shadow: 0 0 0 3px #B650F2;
    background: rgba(182, 80, 242, 0.1);
    transition: box-shadow 0.3s;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.masonry-grid {
    display: flex;
    margin-left: -16px;
    width: auto;
}

.masonry-grid_column {
    padding-left: 16px;
    background-clip: padding-box;
}

.masonry-grid_column>div {
    margin-bottom: 16px;
}
.masonry-grid_column>div:last-child {
    margin-bottom: 0 !important;
}